.conteudo {
  flex: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.produtos {
}

.card {
}

.card:hover {
}

.card-img {
}

.card-body {
}

.card-title {
}

.card-price {
}

.card-button {
}

.card-button:hover {
}

.card-buttons {
}

.btn-comprar {
} 

.btn-comprar:hover {
}

.rodape-conteudo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.formulario-contato {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formulario-contato input,
.formulario-contato textarea {
  padding: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}

.formulario-contato button {
  padding: 10px;
  background-color: #7C3AED;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.formulario-contato button:hover {
  background-color: #6B2D99;
}
